#inbox{
    background:floralwhite;
    border:3px solid darkblue;
    margin-left: 10%;
    width:auto;
    height:250px;
    overflow:auto;
}

.email{
    display:inline-table;
    margin-right: 5px;
    padding-right: 33px;
    text-align: right;
    color:black;
    width: auto;
    overflow: auto;
}
table, tr{
    display: block
}

tr:hover {
    background: white;
}

.true{
    background:whitesmoke;
}

.false{
    background: ghostwhite;
}

#navbar{
    list-style-type: none;
    float: left;
    width: 90px;
    text-align: right;
    margin: 2px 10px;
    display: inline
}
